* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --bg-color: white;
  --text-color: black;

  --card-bg: hsl(200, 60%, 99%);
  --card-outline: hsl(0, 0%, 78%);
  --header-text: hsl(227, 75%, 14%);
  --description-text: hsl(226, 11%, 37%);

  --button-bg: hsl(200, 60%, 99%);
  --button-text: hsl(225, 23%, 24%);
  --button-text-hover: hsl(200, 60%, 99%);
  --button-hover: hsl(0, 0%, 93%);
  --button-outline: hsl(0, 0%, 78%);

  --theme-button-bg: hsla(240, 3%, 94%, 0.7);
  --theme-button-hover: hsl(226, 11%, 37%);

  --toggle-inactive: hsl(0, 0%, 78%);

  --filter-btn-hover: hsl(3, 85%, 64%);
  --toggle-active: hsl(3, 71%, 56%);
  --toggle-focus: hsl(3, 70%, 56%);
  --remove-button-hover: hsl(3, 77%, 44%);
}

[data-theme="dark"] {
  --bg-main: linear-gradient(180deg, #040918 0%, #091540 100%);

  --card-bg: hsl(226, 25%, 17%);
  --card-outline: hsl(0, 0%, 78%);
  --header-text: hsl(200, 60%, 99%);
  --description-text: hsl(0, 0%, 78%);

  --button-bg: hsl(226, 25%, 17%);
  --button-text: hsl(217, 61%, 90%);
  --button-text-hover: hsl(227, 75%, 14%);
  --button-outline: hsl(0, 0%, 78%);
  --button-hover: hsl(226, 11%, 37%);

  --theme-button-bg: hsla(240, 3%, 94%, 0.3);
  --theme-button-hover: hsl(226, 11%, 37%);

  --toggle-inactive: hsl (0, 0%, 78%);

  --filter-btn-hover: hsl(3, 86%, 64%);
  --toggle-active: hsl(3, 71%, 56%);
  --toggle-hover: hsl(3, 71%, 56%);
  --remove-button-hover: hsl(3, 77%, 44%);
}

body {
  background: var(--bg-main);
  min-height: 100vh;
  font-family: "Noto", sans-serif;
  font-size: 1rem;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
button {
  line-height: 1.1;
}

button {
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  border-radius: 1.1rem;
  border: 0;
  outline: 1px solid var(--button-outline);

  &.filter-btn {
    color: var(--button-text);
    font-size: 1.05rem;

    &:hover {
      background-color: var(--remove-button-hover);
      color: var(--button-text-hover);
    }

    &:focus {
      outline: 2px solid var(--toggle-focus);
      outline-offset: 2px;
    }
  }
  &.filter-btn-active {
    background-color: var(--remove-button-hover);
    color: var(--button-text-hover);
  }

  &.remove-btn:hover,
  &.remove-btn:focus {
    background-color: var(--remove-button-hover);
    color: var(--button-text-hover);
    outline: 2px solid var(--toggle-focus);
    outline-offset: 2px;
  }
}

.container {
  max-width: 90%;
  width: 1400px;
  margin: auto;
}

header {
  background-color: var(--card-bg);
  padding: 1rem;
  margin: 2rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.25rem;

  & .logo path:nth-child(2) {
    fill: var(--header-text);
  }
  & .theme-btn {
    cursor: pointer;
    background-color: var(--theme-button-bg);
    color: var(--header-text);
    padding: 0.75rem;
    border-radius: 0.5rem;

    &:focus {
      outline: 2px solid var(--toggle-focus);
      outline-offset: 2px;
    }
  }
}

.grid-header {
  color: var(--header-text);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;

    & .filter-btns .filter-btn {
      padding: 0.75rem 1rem;
      font-size: 1.15rem;
      border-radius: 1.25rem;
    }
  }
}

.filter-btns {
  display: flex;
  gap: 1rem;
}

.extensions-grid {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem;

  & .item {
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 1rem;
    outline: 1px solid var(--card-outline);
  }

  & .item .top {
    color: var(--description-text);
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;

    & .name {
      color: var(--header-text);
      margin-bottom: 0.25rem;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  & .item .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.toggle-switch {
  width: fit-content;
  display: block;
  position: relative;
}

.toggle-switch .toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.toggle-input:focus-visible + .toggle-label {
  outline: 2px solid var(--toggle-focus);
  outline-offset: 2px;
}

.toggle-switch .toggle-label {
  cursor: pointer;
  background-color: var(--toggle-inactive);
  width: 48px;
  height: 26px;
  display: block;
  border-radius: 2rem;
  transition: background-color 200ms;
}

.toggle-switch .toggle-label::before {
  content: "";
  background-color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: left 200ms ease;
}

.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: var(--toggle-active);
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  left: 25px;
}

